@model Transport.Models.Naplata

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Naplata</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdRazlog" class="control-label"></label>
                <select asp-for="IdRazlog" class="form-control" asp-items="ViewBag.IdRazlog"></select>
                <span asp-validation-for="IdRazlog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVrstaNaplate" class="control-label"></label>
                <select asp-for="IdVrstaNaplate" class="form-control" asp-items="ViewBag.IdVrstaNaplate"></select>
                <span asp-validation-for="IdVrstaNaplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPrijevoz" class="control-label"></label>
                <select asp-for="IdPrijevoz" class="form-control" asp-items="ViewBag.IdPrijevoz"></select>
                <span asp-validation-for="IdPrijevoz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RokIzvrsenjaNaplate" class="control-label"></label>
                <input asp-for="RokIzvrsenjaNaplate" class="form-control" />
                <span asp-validation-for="RokIzvrsenjaNaplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
